<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8" />
  <title>Tisc</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <style media="screen"></style>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter" />
  <style></style>
  <style>
    body {
      font-family: "Inter";
    }

    .logo {
      color: #0f1012;
      font-weight: 600;
      font-size: 24px;
      line-height: 30px;
      margin: 0;
      padding-bottom: 45px;
    }

    .title {
      color: #191919;
      font-weight: 700;
      font-size: 26px;
      line-height: 36px;
      margin: 0;
      padding-bottom: 24px;
    }

    .subtitle {
      color: #8b8b8b;
      font-weight: 400;
      font-size: 17px;
      line-height: 28px;
      margin: 0;
      padding-bottom: 29px;
    }

    .btn-container {
      display: flex;
      padding-bottom: 40px;
    }

    .wrapper .content-email p,
    li {
      color: #1f2329
    }

    .verify-btn {
      padding: 16px 184px;
      color: #1d1d1d !important;
      background-color: #f7ac1b;
      text-decoration: none;
      border-radius: 8px;
      box-sizing: border-box;
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
    }

    .note {
      color: #8b8b8b;
      font-weight: 400;
      font-size: 14px;
      line-height: 26px;
      margin: 0;
      padding-bottom: 20px;
    }

    .end {
      color: #0e0e0e;
      font-weight: 400;
      font-size: 14px;
      line-height: 26px;
      margin: 0;
    }
  </style>
</head>

<body>
  <div class="wrapper">
    <div class="content">
      <div class="message">
        <h1 class="logo">Tisc</h1>
        <h1 class="title">We invite you to join with us, <%= fullname %></h1>
        <p class="subtitle">
          Please verify your email address and create password to get access
          to Tisc. Thank you!
        </p>
        <div class="btn-container">
          <a class="verify-btn" href="<%= verify_link%>">Verify Email</a>
        </div>
        <p class="note">
          Need support? Our support team is always ready to help Contact us at
          support@tisc.com.sg
        </p>
        <p class="end">Thank you</p>
        <p class="end">The Tisc Team</p>
      </div>
    </div>
  </div>
</body>

</html>