<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8" />
    <title>Tisc</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style media="screen"></style>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter" />
    <style>
        body {
            font-family: "Inter";
        }

        .pl-5 {
            padding-left: 5px;
        }

        .pb-10 {
            padding-bottom: 10px;
        }

        .pb-15 {
            padding-bottom: 15px;
        }

        .pb-20 {
            padding-bottom: 20px;
        }

        .pb-30 {
            padding-bottom: 30px;
        }

        .text-bold {
            font-weight: bold;
        }

        .text-bold-black {
            font-weight: bold;
            color: #1f2329;
        }

        .wrapper .content-email p,
        li {
            color: #1f2329
        }

        .button-account-password {
            background-color: #fff;
            border: 2px solid #e6e6e6;
            color: #33363c !important;
            padding: 15px 15px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 15px;
            margin: 4px 2px;
            cursor: pointer;
            font-weight: bold;
        }

        .non-bullet {
            list-style: none;
        }

        .text-blue-light {
            color: #4f84ff;
        }

        .non-padding {
            padding: 0;
        }

        .text-italic {
            font-style: italic;
        }

        .content-email {
            padding: 40px 40px;
        }

        .hr {
            border: 1px solid #bbbfc4;
        }

        li::before {
            content: ".";
            color: #3370ff
        }

        .list-session-include {
            padding-left: 10px;
        }

        .text-non-decoration {
            text-decoration: none;
        }
    </style>
</head>

<body>
    <div class="wrapper">
        <div class="content-email">
            <div class="title-email">
                <h1>Title: Welcome to the team!</h1>
            </div>
            <div class="message-email">
                <p>Hi <%= firstname %>,</p>
                <p style="line-height: 2;" class="pb-15"><span class="text-blue-light">{(sender firstname)}</span> has
                    invited you to join the TISC, a platform and tools dedicated to
                    improving operation and increasing productivity for the design and construction industry.</p>

                <p class="text-bold-black">Your account name: <%= email %></p>
                <p class="pb-15">Activate your account below.</p>
                <div class="button pb-30">
                    <a href="#" class="button-account-password">Set Password</a>
                </div>
                <p class="pb-20">The <span class="text-italic">How-To</span> section at the top right corner will guide
                    you through
                    the features and
                    functions of
                    the platform. The information will update over time. Of course, you could always refer to
                    <span class="text-blue-light">Contact Support</span> if you have further questions.</p>
                <p>TISC Team</p>
                <p class="text-blue-light pb-15">tisc.global</p>
                <div class="pb-15">
                    <div class="hr">
                    </div>
                </div>
                <p>If you're having trouble with the button, copy and paste the URL below into your web browser.
                </p>
                <a class="text-blue-light" href=" #"><%= url %>></a>
            </div>
        </div>
    </div>
</body>

</html>