<div class="footer-specification-layout">
  <div class="footer-divider-top">
    <p class="primary-roboto-bold-8-16 uppercase text-center">company name</p>
    <p class="primary-roboto-light-6 text-center">
      <span class="mr-8">number street name, city/town, state/province, country, postal code</span>
      <span class="mr-8 normal-roboto-light-6">Tel:</span>
      <span class="mr-8">+84 935458253</span>
      <span class="mr-8 normal-roboto-light-6">Email: </span>
      <span>vuong.pham@enablestartup.io</span>
    </p>
  </div>
</div>
