<div class="header-specification-layout">
  <p class="normal-roboto-bold-14 mb-8 uppercase">brand & distributor listing by category</p>
  <p class="divider box-shadow"></p>
  <p class="primary-roboto-light-8-12 mt-4">
    <span class="normal-garamond-light-8-12 uppercase mr-8">project code/name</span>
    <span class="mr-8">000000</span>
    <span>Project Name</span>
  </p>
  <div class="primary-roboto-light-8-12">
    <span class="normal-garamond-light-8-12 uppercase mr-8">project location</span>
    <span class="mr-8">number street name</span>
    <span class="mr-8">City name</span>
    <span class="mr-8">Country name</span>
    <span>Postal Code</span>
    <table width="100%">
      <tr>
        <td width="15%" class="normal-garamond-light-8-12 uppercase">
          <span>issued by</span>
        </td>
        <td width="35%" class="primary-roboto-light-8-12">
          <span>Designer Name</span>
        </td>
        <td width="15%" class="normal-garamond-light-8-12 uppercase">
          <span>issued date</span>
        </td>
        <td width="35%" class="primary-roboto-light-8-12">
          <span>2022-09-10</span>
        </td>
      </tr>
      <tr>
        <td width="15%" class="normal-garamond-light-8-12 uppercase">
          <span>issued for</span>
        </td>
        <td width="35%" class="primary-roboto-light-8-12">
          <span>Designer Name</span>
        </td>
        <td width="15%" class="normal-garamond-light-8-12 uppercase">
          <span>revision #</span>
        </td>
        <td width="35%" class="primary-roboto-light-8-12">
          <span>0000-123</span>
        </td>
      </tr>
    </table>
    <p class="border-bottom-box-shadow mt-4 mb-16"></p>
  </div>
</div>
