<div class="general-specification-content">
    <table width="100%">
      <% for(var i=1; i<=2; i++) {%>
        <tr>
            <td height="24" width="50%" class="normal-roboto-bold-8-18 bg-black" colspan="2">
              <span class="pdlr-8 color-white uppercase">product category name a</span>
            </td>
        </tr>
        <% for(var j=1; j<=6; j++) {%>
          <tr>
            <td class="primary-roboto-light-8-18 width-50-percent border-bottom-box-shadow">
              <span class="primary-roboto-bold-8-18">Brand name 1</span><br/>
              <span>Number street name</span><br/>
              <span>City name, state name</span><br/>
              <span>Country name, Postal code</span><br/>
              <span>www.brandcompany.com</span>
            </td>
            <td class="primary-roboto-light-8-18 width-50-percent border-bottom-box-shadow">
              <span class="primary-roboto-bold-8-18"></span><br/>
              <span>
                <span class="normal-garamond-light-8-18 uppercase mr-25">contact</span>
                <span class="primary-roboto-light-8-18">Firstname Lastname</span>
              </span><br/>
              <span>
                <span class="normal-garamond-light-8-18 uppercase mr-13">work email</span>
                <span class="primary-roboto-light-8-18">email@brandcompany.com</span>
              </span><br/>
              <span>
                <span class="normal-garamond-light-8-18 uppercase mr-10">work phone</span>
                <span class="primary-roboto-light-8-18">+84 0935458253</span>
              </span><br/>
              <span>
                <span class="normal-garamond-light-8-18 uppercase mr-8">work mobile</span>
                <span class="primary-roboto-light-8-18">+84 0935458253</span>
              </span><br/>
            </td>
          </tr>
        <% } %>
      <% } %>
    </table>
</div>
