<div class="general-specification-content">
    <table width="100%">
      <tr>
          <td width="50%" class="normal-roboto-bold-12">
            Brand / Manufacturer
          </td>
          <td width="50%" class="normal-roboto-bold-12">
            Distributor / Supplier
          </td>
      </tr>
      <% for(var i=1; i<=2; i++) {%>
        <tr>
            <td height="24" width="50%" class="normal-roboto-bold-8-18 bg-black" colspan="2">
              <span class="pdlr-8 color-white uppercase">product category name a</span>
            </td>
        </tr>
        <% for(var j=1; j<=6; j++) {%>
          <tr>
            <td class="primary-roboto-light-8-18 width-50-percent border-bottom-box-shadow">
              <span class="primary-roboto-bold-8-18">Brand name 1</span><br/>
              <span>Number street name</span><br/>
              <span>City name, Country name, Postal code</span>
            </td>
            <td class="primary-roboto-light-8-18 width-50-percent border-bottom-box-shadow">
              <span class="primary-roboto-bold-8-18">Distributor 2</span><br/>
              <span>Number street name</span><br/>
              <span>City name, Country name, Postal code</span>
            </td>
          </tr>
        <% } %>
      <% } %>
    </table>
</div>
