<div class="footer-specification-layout">
  <div class="footer-divider-top">
    <table width="100%">
      <tr>
        <td class="width-60-percent">
          <span class="normal-roboto-light-8-12">
            <span class="uppercase" style="font-weight: bold">tisc </span
            ><span>Pte Ltd</span>
            <span style="padding-left: 8px">Blk 17 Tiong Bahru Road, Unit 04-83, Singapore 163017</span>
          </span>
        </td>
        <td
          class="width-40-percent normal-roboto-light-6"
          style="text-align: right"
        >
          <span
            ><span class="uppercase" style="font-weight: bold">W: </span
            ><span>www.tisc.global</span
            ><span
              class="uppercase"
              style="padding-left: 8px; font-weight: bold"
              >E: </span
            ><span>hello@tisc.global</span></span
          >
        </td>
      </tr>
    </table>
  </div>
</div>
