<div class="header-specification-layout">
  <table width="100%">
    <tr>
      <td
        class="width-50-percent border-bottom-box-shadow-bold"
        style="padding-bottom: 8px"
      >
        <img src="<%=logo%>" alt="" />
      </td>
      <td
        class="width-50-percent border-bottom-box-shadow-bold"
        style="text-align: right"
      >
        <span class="normal-roboto-bold-12"> <%=title%> </span>
      </td>
    </tr>
  </table>
</div>
