<!DOCTYPE html>
<html>
  <head>
  <title>Cover Page</title>
  <style>
    html, body {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    .primary-roboto-light-14 {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 22px;
      color: #2B39D4;
      letter-spacing: 0.32px;
    }
    .primary-roboto-bold-14 {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 22px;
      color: #2B39D4;
      letter-spacing: 0.32px;
    }
    .normal-roboto-bold-14 {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 22px;
      color: #2B39D4;
      letter-spacing: 0.32px;
    }


  </style>
  </head>
  <body>
    <div>
      <p class="">project code</p>
    </div>
  </body>
</html>
