<div class="general-specification-content">
  <table width="100%">
    <tr class="border-bottom-box-shadow-bold">
      <td width="60">
        <span class="normal-roboto-bold-8-18 uppercase">code</span>
      </td>
      <td width="184">
        <span class="normal-roboto-bold-8-18 uppercase">description</span>
      </td>
      <td width="228">
        <span class="normal-roboto-bold-8-18 uppercase">requirement & instructions</span>
      </td>
    </tr>
    <% for(var j=1; j<=9; j++) {%>
    <tr>
      <td width="60" class="primary-roboto-light-8-18">
        <span>code 1</span>
      </td>
      <td width="184" class="primary-roboto-light-8-18">
        <span>Description text</span>
      </td>
      <td width="228" class="primary-roboto-light-8-18">
        <span>Requirement & instructions text</span>
      </td>
    </tr>
    <% } %>
    <tr class="border-bottom-box-shadow"></tr>
    <tr style="height: 18px"></tr>
    <tr class="bg-black">
      <td width="52" style="text-align: center">
        <span class="normal-roboto-bold-8-10 color-white uppercase">floor</span>
      </td>
      <td width="52" style="text-align: center">
        <span class="normal-roboto-bold-8-10 color-white uppercase">base</span>
      </td>
      <td width="52" style="text-align: center">
        <p
          style="padding: 4px 15px"
          class="normal-roboto-bold-8-10 color-white uppercase"
        >
          front wall
        </p>
      </td>
      <td width="52" style="text-align: center">
        <p
          style="padding: 4px 15px"
          class="normal-roboto-bold-8-10 color-white uppercase"
        >
          left wall
        </p>
      </td>
      <td width="52" style="text-align: center">
        <p
          style="padding: 4px 15px"
          class="normal-roboto-bold-8-10 color-white uppercase"
        >
          back wall
        </p>
      </td>
      <td width="52" style="text-align: center">
        <p
          style="padding: 4px 15px"
          class="normal-roboto-bold-8-10 color-white uppercase"
        >
          right wall
        </p>
      </td>

      <td width="52" style="text-align: center">
        <span class="normal-roboto-bold-8-10 color-white uppercase"
          >ceiling</span
        >
      </td>
      <td width="52" style="text-align: center">
        <span class="normal-roboto-bold-8-10 color-white uppercase">door</span>
      </td>
      <td width="52" style="text-align: center">
        <span class="normal-roboto-bold-8-10 color-white uppercase"
          >cabinet</span
        >
      </td>
    </tr>
    <% for(var i=1; i<=3; i++) {%>
    <tr class="border-bottom-box-shadow-bold">
      <td width="52" style="text-align: center">
        <span class="primary-roboto-bold-8-18">room id-1</span>
      </td>
      <td width="52" style="text-align: center">
        <span class="primary-roboto-bold-8-18">room name</span>
      </td>
      <td width="52" style="text-align: center">
        <span class="primary-roboto-bold-8-18"></span>
      </td>
      <td width="52" style="text-align: center">
        <span class="primary-roboto-bold-8-18"></span>
      </td>
      <td width="52" style="text-align: center">
        <span class="primary-roboto-bold-8-18"></span>
      </td>
      <td width="52" style="text-align: center">
        <span class="primary-roboto-bold-8-18"></span>
      </td>
      <td width="52" style="text-align: center">
        <span class="primary-roboto-bold-8-18"></span>
      </td>
      <td width="52" style="text-align: center">
        <span class="primary-roboto-bold-8-18"></span>
      </td>
      <td width="52" style="text-align: center">
        <span class="primary-roboto-bold-8-18"></span>
      </td>
    </tr>
    <% for(var j=1; j<=3; j++) {%>
    <tr>
      <td
        width="52"
        style="text-align: center"
        class="primary-roboto-light-8-18"
      >
        <span>code 1</span>
      </td>
      <td
        width="52"
        style="text-align: center"
        class="primary-roboto-light-8-18"
      >
        <span>code 1</span>
      </td>
      <td
        width="52"
        style="text-align: center"
        class="primary-roboto-light-8-18"
      >
        <span>code 1</span>
      </td>
      <td
        width="52"
        style="text-align: center"
        class="primary-roboto-light-8-18"
      >
        <span>code 1</span>
      </td>
      <td
        width="52"
        style="text-align: center"
        class="primary-roboto-light-8-18"
      >
        <span>code 1</span>
      </td>
      <td
        width="52"
        style="text-align: center"
        class="primary-roboto-light-8-18"
      >
        <span>code 1</span>
      </td>
      <td
        width="52"
        style="text-align: center"
        class="primary-roboto-light-8-18"
      >
        <span>code 1</span>
      </td>
      <td
        width="52"
        style="text-align: center"
        class="primary-roboto-light-8-18"
      >
        <span>code 1</span>
      </td>
      <td
        width="52"
        style="text-align: center"
        class="primary-roboto-light-8-18"
      >
        <span>code 1</span>
      </td>
    </tr>
    <% } %>
    <tr class="border-bottom-box-shadow"></tr>
    <tr style="height: 18px"></tr>
    <% } %>
  </table>
</div>
