<div class="general-specification-content">
  <table width="100%">
    <tr class="bg-black">
      <td style="vertical-align: middle" width="60">
        <span
          class="normal-roboto-bold-8-10 color-white uppercase"
          style="padding-left: 8px"
          >room id</span
        >
      </td>
      <td style="vertical-align: middle" width="232">
        <span class="normal-roboto-bold-8-10 color-white uppercase"
          >room name</span
        >
      </td>
      <td style="vertical-align: middle" width="25">
        <span class="normal-roboto-bold-8-10 color-white uppercase">size</span>
      </td>
      <td style="vertical-align: middle" width="29">
        <span class="normal-roboto-bold-8-10 color-white uppercase">unit</span>
      </td>
      <td style="vertical-align: middle; text-align: center" width="64">
        <span class="normal-roboto-bold-8-10 color-white uppercase"
          >quantity</span
        >
      </td>
      <td style="vertical-align: middle" width="33">
        <span class="normal-roboto-bold-8-10 color-white uppercase">total</span>
      </td>
      <td style="vertical-align: middle" width="29">
        <span class="normal-roboto-bold-8-10 color-white uppercase">unit</span>
      </td>
    </tr>
    <% for(var i=1; i<=2; i++) {%>
    <tr class="border-bottom-box-shadow-bold">
      <td width="60">
        <span class="primary-roboto-bold-8-18 uppercase">zone name a</span>
      </td>
      <td width="232">
        <span class="primary-roboto-bold-8-18"></span>
      </td>
      <td width="25">
        <span class="primary-roboto-bold-8-18"></span>
      </td>
      <td width="29">
        <span class="primary-roboto-bold-8-18"></span>
      </td>
      <td width="64" style="text-align: center">
        <span class="normal-roboto-bold-8-18">Zone Total</span>
      </td>
      <td width="33">
        <span class="primary-roboto-bold-8-18">0,000</span>
      </td>
      <td width="29">
        <span class="primary-roboto-bold-8-18">sq.m.</span>
      </td>
    </tr>
    <% for(var n=1; n<=2; n++) {%> <% if(n!== 1) {%>
    <tr class="border-bottom-box-shadow"></tr>
    <%}%>
    <tr>
      <td width="60">
        <span class="primary-roboto-bold-8-18">Area name 1</span>
      </td>
      <td width="232">
        <span class="primary-roboto-bold-8-18"></span>
      </td>
      <td width="25">
        <span class="primary-roboto-bold-8-18"></span>
      </td>
      <td width="29">
        <span class="primary-roboto-bold-8-18"></span>
      </td>
      <td width="64">
        <span class="normal-roboto-bold-8-18"></span>
      </td>
      <td width="33">
        <span class="primary-roboto-bold-8-18"></span>
      </td>
      <td width="29">
        <span class="primary-roboto-bold-8-18"></span>
      </td>
    </tr>
    <% for(var j=1; j<=3; j++) {%>
    <tr>
      <td width="60">
        <span class="primary-roboto-light-8-18">Room ID</span>
      </td>
      <td width="232">
        <span class="primary-roboto-light-8-18">Roomnamename 1</span>
      </td>
      <td width="25">
        <span class="primary-roboto-light-8-18">00</span>
      </td>
      <td width="29">
        <span class="primary-roboto-light-8-18">sq.m.</span>
      </td>
      <td width="64" style="text-align: center">
        <span class="normal-roboto-light-8-18">0</span>
      </td>
      <td width="33">
        <span class="primary-roboto-light-8-18">0,000</span>
      </td>
      <td width="29">
        <span class="primary-roboto-light-8-18">sq.m</span>
      </td>
    </tr>
    <% } %>
    <tr class="border-bottom-box-shadow">
      <td width="60">
        <span class="primary-roboto-light-8-18"></span>
      </td>
      <td width="232">
        <span class="primary-roboto-light-8-18"></span>
      </td>
      <td width="25">
        <span class="primary-roboto-light-8-18"></span>
      </td>
      <td width="29">
        <span class="primary-roboto-light-8-18"></span>
      </td>
      <td width="64" style="text-align: center">
        <span class="normal-roboto-bold-8-18">Area Total</span>
      </td>
      <td width="33">
        <span class="primary-roboto-light-8-18">0,000</span>
      </td>
      <td width="29">
        <span class="primary-roboto-light-8-18">sq.m</span>
      </td>
    </tr>
    <tr style="height: 18px"></tr>

    <% } %> <% } %>

    <tr class="border-bottom-box-shadow-bold"></tr>
    <tr class="border-bottom-box-shadow-bold">
      <td width="60">
        <span class="primary-roboto-light-8-18"></span>
      </td>
      <td width="232">
        <span class="primary-roboto-light-8-18"></span>
      </td>
      <td width="25">
        <span class="primary-roboto-light-8-18"></span>
      </td>
      <td width="29">
        <span class="primary-roboto-light-8-18"></span>
      </td>
      <td width="64" style="text-align: center">
        <span class="normal-roboto-bold-8-18 uppercase">grand total</span>
      </td>
      <td width="33">
        <span class="primary-roboto-light-8-18">0,000</span>
      </td>
      <td width="29">
        <span class="primary-roboto-light-8-18">sq.m</span>
      </td>
    </tr>
  </table>
</div>
