<div class="general-specification-content">
  <table width="100%">
    <tr class="bg-black">
      <td style="vertical-align: middle" width="60">
        <span
          class="normal-roboto-bold-8-10 color-white uppercase"
          style="padding-left: 8px"
          >code</span
        >
      </td>
      <td style="vertical-align: middle" width="254">
        <span class="normal-roboto-bold-8-10 color-white uppercase"
          >description</span
        >
      </td>
      <td style="vertical-align: middle; text-align: center" width="48">
        <span class="normal-roboto-bold-8-10 color-white uppercase"
          >quantity</span
        >
      </td>
      <td style="vertical-align: middle" width="40">
        <span class="normal-roboto-bold-8-10 color-white uppercase">unit</span>
      </td>
      <td style="vertical-align: middle" width="70">
        <span class="normal-roboto-bold-8-10 color-white uppercase"
          >order method</span
        >
      </td>
    </tr>
    <% for(var i=1; i<=2; i++) {%>
    <tr class="border-bottom-box-shadow-bold">
      <td width="60">
        <span class="primary-roboto-bold-8-18">Room ID</span>
      </td>
      <td width="254">
        <span class="primary-roboto-bold-8-18">Toom Name A</span>
      </td>
      <td width="48">
        <span class="normal-roboto-bold-8-18"></span>
      </td>
      <td width="40">
        <span class="primary-roboto-bold-8-18"></span>
      </td>
      <td width="70">
        <span class="primary-roboto-bold-8-18"></span>
      </td>
    </tr>

    <% for(var j=1; j<=3; j++) {%>
    <tr>
      <td width="60">
        <span class="primary-roboto-light-8-18">Code 1</span>
      </td>
      <td width="254">
        <span class="primary-roboto-light-8-18">Description text</span>
      </td>

      <td width="48" style="text-align: center">
        <span class="normal-roboto-light-8-18">0</span>
      </td>
      <td width="40">
        <span class="primary-roboto-light-8-18">unit type</span>
      </td>
      <td width="70">
        <span class="primary-roboto-light-8-18">Direct purchase</span>
      </td>
    </tr>
    <% } %>
    <tr class="border-bottom-box-shadow"></tr>
    <tr style="height: 18px"></tr>
    <% } %>
  </table>
</div>
